*{
    box-sizing: border-box;
}
.bottom-grid{
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: repeat(6, auto);
    gap: 10px;
    padding: 10px;
    border: 2px solid black;
    grid-template-areas:
    "left-top center right-top"
    "left-top center right-top"
    "left-top center right-bottom"
    "left-bottom center right-bottom"
    "left-bottom center right-bottom"
    "left-bottom center right-bottom";
    /* min-height: 80vh; */
}
.box{
    padding: 10px;
    border: 2px solid red;
    text-align: center;
}
.box img{
    width: 100%;
    
}
.left-top{
    grid-area: left-top;
}
.left-bottom{
    grid-area: left-bottom;
    align-content: end;
}
.center{
    grid-area: center;
}
.rigth-top{
    grid-area: right-top;
}
.rigth-bottom{
    grid-area: right-bottom;
}